
span {

    font-size: 0.8rem;
    position: relative;
    top: -10px;
    font-style: none;
    text-decoration: unset;
    color: black;
}

svg{

    position: relative;
    top: -2px;
    width: 15px;
    height:15px;



}

svg path {

    transition: color 0.3s, transform 0.3s;

}

svg path :hover{

    transform: scale(1.1);
    color: #2e294e;

}
