/* Contenedor principal de los productos */
.itemContainer {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  gap: 2rem; /* Añadí más espacio entre las tarjetas */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho de las tarjetas */
  padding: 2rem 1rem;
  background-color: #FDDDE6; /* Fondo rosa claro */
  place-items: center;
}

/* Spinner de carga */
.spinner {
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #E91E63; /* Color del spinner (rosa intenso) */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Animación del spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo del popup */
.custom-popup {
  max-width: 90vw !important;
  width: auto !important;
  max-height: 80vh !important;
  overflow-y: auto !important;
}

/* Ajustes del botón del carrito */
.navbar-cart {
  position: relative;
  display: inline-block;
}

.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #E91E63;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
}
