
.container-itemCount{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.botoncito {

    border: none;

}

.span {

    border: 0.5px solid gray;
    width: 100px;
    top: 0;

}