
.container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}

.span {

    border: 0.5px solid gray;
    width: 100px;

}