

.checkout-form {

    display: flex;

    flex-direction: column;
    align-items: center;

}
.swal2-popup {
    max-width: 80vw; /* Ajusta según sea necesario */
    width: auto;
    max-height: 80vh; /* Ajusta según sea necesario */
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-icon {
    font-size: 1rem; /* Ajusta según sea necesario */
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
}

.swal2-icon.swal2-error {
    max-width: 100%;
    max-height: 100%;
}